infrastructure/logic-app-workflow.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "Query_Intent_Analysis": {
        "inputs": {
          "body": {
            "query": "@triggerBody()?['query']"
          },
          "function": {
            "id": "/subscriptions/{subscription-id}/resourceGroups/{resource-group}/providers/Microsoft.Web/sites/{function-app-name}/functions/analyze-intent"
          }
        },
        "runAfter": {},
        "type": "Function"
      },
      "Content_Generation_Condition": {
        "actions": {
          "Generate_Content": {
            "inputs": {
              "body": {
                "contentType": "@triggerBody()?['contentType']",
                "keywords": "@triggerBody()?['keywords']",
                "maxLength": "@triggerBody()?['maxLength']",
                "outputFormat": "@triggerBody()?['outputFormat']",
                "searchIntent": "@body('Query_Intent_Analysis')?['data']?['intentAnalysis']?['primaryIntent']",
                "style": "@triggerBody()?['style']",
                "targetAudience": "@triggerBody()?['targetAudience']",
                "title": "@triggerBody()?['title']",
                "topics": "@body('Query_Intent_Analysis')?['data']?['keyPhrases']"
              },
              "function": {
                "id": "/subscriptions/{subscription-id}/resourceGroups/{resource-group}/providers/Microsoft.Web/sites/{function-app-name}/functions/generate-content"
              }
            },
            "runAfter": {},
            "type": "Function"
          },
          "Content_Chunking": {
            "inputs": {
              "body": {
                "chunkingStrategy": "semantic",
                "content": "@body('Generate_Content')?['data']?['content']",
                "contentId": "@body('Generate_Content')?['data']?['id']"
              },
              "function": {
                "id": "/subscriptions/{subscription-id}/resourceGroups/{resource-group}/providers/Microsoft.Web/sites/{function-app-name}/functions/chunk-content"
              }
            },
            "runAfter": {
              "Generate_Content": [
                "Succeeded"
              ]
            },
            "type": "Function"
          },
          "Vector_Store_Indexing": {
            "inputs": {
              "body": {
                "documents": [
                  {
                    "content": "@body('Generate_Content')?['data']?['content']",
                    "contentId": "@body('Generate_Content')?['data']?['id']",
                    "contentType": "@triggerBody()?['contentType']",
                    "created": "@utcNow()",
                    "id": "@guid()",
                    "title": "@triggerBody()?['title']"
                  }
                ]
              },
              "function": {
                "id": "/subscriptions/{subscription-id}/resourceGroups/{resource-group}/providers/Microsoft.Web/sites/{function-app-name}/functions/vector-store/index"
              }
            },
            "runAfter": {
              "Content_Chunking": [
                "Succeeded"
              ]
            },
            "type": "Function"
          },
          "Content_Optimization": {
            "inputs": {
              "body": {
                "content": "@body('Generate_Content')?['data']?['content']",
                "contentId": "@body('Generate_Content')?['data']?['id']",
                "enhanceWithResearch": true,
                "includeReferences": true,
                "keywords": "@triggerBody()?['keywords']",
                "maxLength": "@triggerBody()?['maxLength']",
                "optimizationGoals": [
                  "readability",
                  "engagement",
                  "seo"
                ],
                "searchIntent": "@body('Query_Intent_Analysis')?['data']?['intentAnalysis']?['primaryIntent']",
                "style": "@triggerBody()?['style']",
                "targetAudience": "@triggerBody()?['targetAudience']"
              },
              "function": {
                "id": "/subscriptions/{subscription-id}/resourceGroups/{resource-group}/providers/Microsoft.Web/sites/{function-app-name}/functions/optimize-content"
              }
            },
            "runAfter": {
              "Vector_Store_Indexing": [
                "Succeeded"
              ]
            },
            "type": "Function"
          },
          "Authority_Analysis": {
            "inputs": {
              "body": {
                "content": "@body('Content_Optimization')?['optimizedContent']",
                "contentId": "@body('Generate_Content')?['data']?['id']",
                "contentType": "@triggerBody()?['contentType']",
                "title": "@triggerBody()?['title']"
              },
              "function": {
                "id": "/subscriptions/{subscription-id}/resourceGroups/{resource-group}/providers/Microsoft.Web/sites/{function-app-name}/functions/analyze-authority"
              }
            },
            "runAfter": {
              "Content_Optimization": [
                "Succeeded"
              ]
            },
            "type": "Function"
          },
          "Store_Final_Result_in_CosmosDB": {
            "inputs": {
              "body": {
                "authorityScore": "@body('Authority_Analysis')?['overallScore']",
                "content": "@body('Content_Optimization')?['optimizedContent']",
                "contentId": "@body('Generate_Content')?['data']?['id']",
                "contentType": "@triggerBody()?['contentType']",
                "created": "@utcNow()",
                "id": "@guid()",
                "keywords": "@triggerBody()?['keywords']",
                "optimizationScore": "@body('Content_Optimization')?['score']?['overall']?['score']",
                "searchIntent": "@body('Query_Intent_Analysis')?['data']?['intentAnalysis']?['primaryIntent']",
                "style": "@triggerBody()?['style']",
                "targetAudience": "@triggerBody()?['targetAudience']",
                "title": "@triggerBody()?['title']"
              },
              "host": {
                "connection": {
                  "name": "@parameters('$connections')['documentdb']['connectionId']"
                }
              },
              "method": "post",
              "path": "/dbs/@{encodeURIComponent('contentarchitect')}/colls/@{encodeURIComponent('finalContent')}/docs"
            },
            "runAfter": {
              "Authority_Analysis": [
                "Succeeded"
              ]
            },
            "type": "ApiConnection"
          }
        },
        "expression": {
          "and": [
            {
              "equals": [
                "@triggerBody()?['action']",
                "generate"
              ]
            }
          ]
        },
        "runAfter": {
          "Query_Intent_Analysis": [
            "Succeeded"
          ]
        },
        "type": "If"
      },
      "Content_Search_Condition": {
        "actions": {
          "Vector_Search": {
            "inputs": {
              "body": {
                "query": "@triggerBody()?['query']",
                "searchMode": "hybrid",
                "top": 10
              },
              "function": {
                "id": "/subscriptions/{subscription-id}/resourceGroups/{resource-group}/providers/Microsoft.Web/sites/{function-app-name}/functions/vector-store/search"
              }
            },
            "runAfter": {},
            "type": "Function"
          }
        },
        "expression": {
          "and": [
            {
              "equals": [
                "@triggerBody()?['action']",
                "search"
              ]
            }
          ]
        },
        "runAfter": {
          "Query_Intent_Analysis": [
            "Succeeded"
          ]
        },
        "type": "If"
      },
      "Store_Query_Analytics": {
        "inputs": {
          "body": {
            "entities": "@body('Query_Intent_Analysis')?['data']?['entities']",
            "id": "@guid()",
            "keyPhrases": "@body('Query_Intent_Analysis')?['data']?['keyPhrases']",
            "primaryIntent": "@body('Query_Intent_Analysis')?['data']?['intentAnalysis']?['primaryIntent']",
            "query": "@triggerBody()?['query']",
            "timestamp": "@utcNow()",
            "userId": "@triggerBody()?['userId']"
          },
          "host": {
            "connection": {
              "name": "@parameters('$connections')['documentdb']['connectionId']"
            }
          },
          "method": "post",
          "path": "/dbs/@{encodeURIComponent('contentarchitect')}/colls/@{encodeURIComponent('queryAnalytics')}/docs"
        },
        "runAfter": {
          "Content_Search_Condition": [
            "Succeeded"
          ]
        },
        "type": "ApiConnection"
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "parameters": {
      "$connections": {
        "defaultValue": {},
        "type": "Object"
      }
    },
    "triggers": {
      "HTTP_Request": {
        "inputs": {
          "schema": {
            "properties": {
              "action": {
                "type": "string"
              },
              "contentType": {
                "type": "string"
              },
              "keywords": {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "maxLength": {
                "type": "integer"
              },
              "outputFormat": {
                "type": "string"
              },
              "query": {
                "type": "string"
              },
              "style": {
                "type": "string"
              },
              "targetAudience": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "userId": {
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "kind": "Http",
        "type": "Request"
      }
    }
  },
  "parameters": {
    "$connections": {
      "value": {
        "documentdb": {
          "connectionId": "/subscriptions/{subscription-id}/resourceGroups/{resource-group}/providers/Microsoft.Web/connections/documentdb",
          "connectionName": "documentdb",
          "id": "/subscriptions/{subscription-id}/providers/Microsoft.Web/locations/{location}/managedApis/documentdb"
        }
      }
    }
  }
}
